#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.loader-container {
  width: 100%;
  display: flex;
  padding-top: 20%;
  place-items: center;
  flex-direction: column;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
